.active {
    background: #6C69FF;
    color: white;
    text-align: center;
    /* height: 34px; */
    line-height:22px;
    border-radius:4px;
    padding:0px 10px;
    font-size: 10px;
}
.inactive {
    background: #2A2A2A;
    color: white;
    text-align: center;
    height: 22px;
    line-height:22px;
    border-radius:4px;
    padding:0px 10px;
    font-size: 10px;
}
.hi {
    z-index: 1;
    background: url('https://user-images.githubusercontent.com/81412212/174342201-0ec0c927-97f1-49dd-8c23-d6a872d9dfad.png') no-repeat !important;
}
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* { 
font-family: 'Pretendard';
font-weight: 300;
}

.point {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
}
.pulse {
    width: 10px;
}